NODE_ENV=development
PORT=3001
LOG_LEVEL=log
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/project_forms?retryWrites=true&w=majority&appName=<app-name>
JWT_SECRET=replace_this_with_a_minimum_32_character_secret
JWT_EXPIRES_IN=1h
FRONTEND_ORIGIN=http://localhost:3000
BCRYPT_SALT_ROUNDS=12
